<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot = "start">
      <ion-back-button defaultHref="/participants-list"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Participant Profile</ion-title>
    <ion-buttons slot = "primary">
      <ion-button >
        <ion-icon name = "trash-outline" slot = "icon-only" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">participant-detail</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
